*{
    padding: 0;
    margin: 0;

}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    min-width: 100vw;
    min-height: 50px;
    color: white;
}

a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 19px;
}

a:hover{
    color: rgb(173, 167, 167);
}

h2{
    cursor: pointer;
}
